# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
*.map
*.lss
*.mk
*.srec

# Libraries
*.lib
*.a
*.la
*.lo
*.d
*.o

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
Makefile
# Dirs
Debug/
Release/
